@up-group-private:registry=https://up-group.pkgs.visualstudio.com/_packaging/packages/npm/registry/
@up-group-private:always-auth=true
registry=https://registry.npmjs.org
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 15/05/2018.
; begin auth token
//up-group.pkgs.visualstudio.com/_packaging/packages/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI1MDAxNDQwMy03MDI5LTYyMzAtOWU3Yi00NzdjYWJmNTk1YjQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYWI5ZTA3MjctMzY0NC00MDdkLTkzMDctMmNjZDg0MWNlMTkwIiwic2lkIjoiNGIwMGEwZDctNWYxYS00YzljLTg5NTctZjkyZmY3YzY4YjAxIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZTIzMjg0OGEtNzEzMS00ZDNiLWJiZDQtYjMxNzAzYjk1NjY3IiwibmJmIjoxNTE4NjE0Mzc1LCJleHAiOjE1MjYzOTAzNzV9.FRcSgbtp1ImaJNO_rWbiFHL04vegJoXH482b-Rqrhs1LXo-k18PVPDMFwyGG45CRPcnD4qyn49EGIGteDix4yn0p-aUkyULuN8_zQVC4affnCjPOorhzD3QhDBsUYXNh-Psym_bqbCNys9XmObeftzzvm6xwlKEtIz9qfuqSJuH5wl7AOe-WOuRBLBhnrQzFov5MEK_4ed58e1gACwIkblYf-6hmfs4UWoseq8uMVPrRD6EBlbXqr8Qx_cCOTBmpOkteuCFpYOnWJrwsDqroQNNesLUqKbAmXFnD3Wgdsz_6bEr-MLg8_fL7Qs97mgQD1z_Btucu6DqlTI0W9rn2Rg
//up-group.pkgs.visualstudio.com/_packaging/packages/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI1MDAxNDQwMy03MDI5LTYyMzAtOWU3Yi00NzdjYWJmNTk1YjQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYWI5ZTA3MjctMzY0NC00MDdkLTkzMDctMmNjZDg0MWNlMTkwIiwic2lkIjoiNGIwMGEwZDctNWYxYS00YzljLTg5NTctZjkyZmY3YzY4YjAxIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ZTIzMjg0OGEtNzEzMS00ZDNiLWJiZDQtYjMxNzAzYjk1NjY3IiwibmJmIjoxNTE4NjE0Mzc1LCJleHAiOjE1MjYzOTAzNzV9.FRcSgbtp1ImaJNO_rWbiFHL04vegJoXH482b-Rqrhs1LXo-k18PVPDMFwyGG45CRPcnD4qyn49EGIGteDix4yn0p-aUkyULuN8_zQVC4affnCjPOorhzD3QhDBsUYXNh-Psym_bqbCNys9XmObeftzzvm6xwlKEtIz9qfuqSJuH5wl7AOe-WOuRBLBhnrQzFov5MEK_4ed58e1gACwIkblYf-6hmfs4UWoseq8uMVPrRD6EBlbXqr8Qx_cCOTBmpOkteuCFpYOnWJrwsDqroQNNesLUqKbAmXFnD3Wgdsz_6bEr-MLg8_fL7Qs97mgQD1z_Btucu6DqlTI0W9rn2Rg
; end auth token